body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo-image {
  height: 2em;
}

footer.page-footer {
  padding: 0;
}

#brand {
  width: 70%;
  height: auto;
}

#nav-mobile {
  margin-right: 2em;
}

#nav {
  padding-bottom: 15vh;
  margin-bottom: 2em;
}

#button {
  display: flex;
  justify-content: center;
  margin-top: 20em;
}

/*.material-icons {
  font-size: 60px;
}*/

#params-input {
  display: flex;
  justify-content: center;
}

.btn-floating.btn-large i {
  font-size: 4em;
  line-height: 1.6em;
}

.btn-floating.btn-large {
  width: 7em;
  height: 7em;
}

.form-section {
  margin-top: 7vh;
}

.row {}

/*nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: block;
  font-size: 7em;
  padding-top: 1em;
}*/

.dropdown-content li>a, .dropdown-content li>span {
  color: #00bcd4;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  /*padding-top: 2.6em;*/
  white-space: nowrap;
}

.game-setup, .game-play {
  display: none;
}

input[type="text"] {
  font-size: 2em;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 2em;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input.select-dropdown {
  font-size: 2em !important;
}

.card-image.flag-image {
  height: 2em;
}

.flag-image {
  margin-top: 3em;
  margin-left: 1em;
}

.bar {
  margin-top: 2em;
  height: 2.34em;
  border: 1px solid black
}

#arrow-container {
  background-color: transparent;
  margin: auto;
  width: 14.2em;
}

#arrow-direction {
  margin: 0;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
  transform: rotate(0deg);
  transition: transform 2s;
  overflow: hidden;
  background-color: white;
}

#modal1, #modal2 {
  background-color: #00bcd4;
}

#modal1-footer, #modal2-footer {
  background-color: #cddc39;
}

#flag-form label {
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
}

.flag-instructions {
  margin-top: 1em;
  margin-bottom: 1em;
}

.extrapadding {
  padding: 2em;
  padding-bottom: 0;
  align-self: flex-end;
  font-size: 14pt;
}

.flexer {
  display: flex;
  justify-content: space-between;
}
