body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#brand {
  width: 70%;
  height: auto;
}

#nav-mobile {
  margin-right: 2em;
}

#nav {
  padding-bottom: 15vh;
  margin-bottom: 2em;
}

#button {
  display: flex;
  justify-content: center;
  margin-top: 20em;
}

.material-icons {
  font-size: 60px;
}

#params-input {
  display: flex;
  justify-content: center;
}

.btn-floating.btn-large i {
  font-size: 4em;
  line-height: 1.6em;
}

.btn-floating.btn-large {
  width: 7em;
  height: 7em;
}

.form-section {
  margin-top: 7vh;
}

.row {}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  display: block;
  font-size: 7em;
  /*padding-top: 1em;*/
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #00bcd4;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  /*padding-top: 2.6em;*/
  white-space: nowrap;
}

.game-setup, .game-play {
  display: none;
}

input[type="text"] {
  font-size: 2em;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 2em;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input.select-dropdown {
  font-size: 2em !important;
}

.card-image.flag-image {
  height: 2em;
}

.bar {
  margin-top: 2em;
  height: 2.34em;
  border: 1px solid black
}
