body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url("../pics/dummyskyline.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#nav-mobile{
  margin-right: 2em;
}
#nav{
  padding-bottom: 15em;
}
#button{
  display: flex;
  justify-content: center;
  margin-bottom: 20em;
}
.material-icons{
  font-size: 60px;
}

#params-input {
  display: flex;
  justify-content: center;
}

.row {

}

#signin {
  margin-top: 1.5em;
  margin-left: 10vw;
  margin-right: 5vw;
  width: 35vw;
  height: 25vh;
  opacity: .7;
  color: #00bcd4;
}

#signup {
  width: 35vw;
  opacity: .7;
  color: #00bcd4;
  margin-left: 5vw;
  margin-right: 10vw;

}
