body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo{
}

#nav-mobile{
  margin-right: 2em;
}
#nav{
  padding-bottom: 15em;
}
#button{
  display: flex;
  justify-content: center;
  margin-top: 20em;
}
.material-icons{
  font-size: 60px;
}

#params-input {
  display: flex;
  justify-content: center;
}

.row {

}
