/**/
*{
  margin: 0px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #00bcd4;
}

.main {
  flex: 1 0 auto;
  background-image: url("../pics/dummyskyline.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#nav-mobile{
  margin-right: 2em;
}
#nav{
  padding-bottom: 15em;
}
#play-button{
  display: flex;
  justify-content: center;
}
.material-icons{
  font-size: 60px;
}

#params-input {
  display: flex;
  justify-content: center;
}

.row {

}

#signin {
  margin-top: 1.5em;
  margin-left: 10vw;
  margin-right: 5vw;
  width: 35vw;
  opacity: .7;
  color: #00bcd4;
}

#signup {
  margin-top: 1.5em;
  width: 35vw;
  opacity: .7;
  color: #00bcd4;
  margin-left: 4vw;
  /*margin-right: 15vw;*/
}
#form-inputs{
  display: flex;
  justify-content: space-around;
}

footer.page-footer {
  margin: 0px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
  margin: 2em;
}

.centerthis {
  display: flex;
  font-size: 24pt;
}
