/**/
*{
  margin: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo-image {
  height: 2em;
}

footer.page-footer {
  padding: 0;
}

#nav-mobile{
  margin-right: 2em;
}
#nav{
  padding-bottom: 15em;
}
#play-button{
  display: flex;
  justify-content: center;
}
.material-icons{
  font-size: 60px;
}

.badges {
  margin-top: 4em;
}

.font-fix {
  font-size: 16pt;
}

.extra-padding {
  padding: 2em;
}

.image-size {
  max-height: 10em;
  max-width: 10em;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.image-holder {
  display: flex;
  margin: 1em auto;
  height: 10.5em;
  width: 10.5em;
}

#badge-container {
  /*border: 1px solid black;*/
}
